name: Krafted Project
services:
  hardhat:
    stdin_open: true
    tty: true
    init: true
    build:
      context: ./hardhat
      dockerfile: Dockerfile.hardhat
    image: aon-hardhat:latest
    user: "${UID}:${GID}"
    volumes:
      - ./hardhat:/app
      - /app/node_modules  # Anonymous volume
    command: sleep infinity
    environment:
      - NODE_ENV=development
    #command: bash -c "npx hardhat node"
  dapp:
    stdin_open: true
    tty: true
    init: true
    build:
      context: ./dapp
      dockerfile: Dockerfile.dapp
    image: aon-dapp:latest
    user: "${UID}:${GID}"
    volumes:
      - ./dapp:/app
    working_dir: /app/frontend  
    ports:
      - "5173:5173"  
    command: npm run dev -- --host 0.0.0.0